body {
    background-color: #FEA;
    font-family: "Comic Sans Ms"
}
.Encabezado {
    background-color: gray;
    border: 1rem solid;
    border-radius: 1.5rem;
}

#titulo {
    color: yellow;
    text-align: center;
    font-size: 3rem;

}
